.header {
  width: 100%;
  padding-top: 2em;
}
.header-text{
  margin-top: 2rem;
}
.header-text-color-one{
  color: red;
}

.header-text-color-two{
  color: green;
}

.header-text-color-three{
  color: #4ca1fb;
}

h1.header-text{
  text-shadow: 0.3rem 0.2rem 0.3rem black;
}

.header > h2{
  color: #fff;
}