.cards-box {
  width: 80%;
  margin: auto;
  background-image: url(https://wallpapercave.com/wp/WO17o7O.jpg);
  background-position: center;
  background-size: auto;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
