.side-box {
    width: 10vw;
  }
  
  .right {
    float: right;
  }
  
  .side-box-text {
    color: #fff;
    transform: rotate(90deg);
    margin: 200% -50%;
    text-align: center;
    width: 200%;
  }
  
  @media screen and (max-width: 800px) {
    .side-box-text {
      font-size: 1rem;
      margin: 300% -50%;
    }
  }