.color-card {
  display: inline-block;
  margin: 2%;
  background-color: transparent;
  width: 20%;
  height: 10em;
  border: 0.2em solid #f1f1f1;
  perspective: 1000px;
}

/* Container to position the front and back side */
.color-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

/*Do an horizontal flip on click at the card-box*/
.clicked .color-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.color-card-front,
.color-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0.2em 0.2em;
}

/* Style the front side */
.color-card-front {
  background-color: #bbb;
  color: black;
  background-image: radial-gradient(#fff, #8aecac,#f4f7b4);
}

/* Style the back, hidden side */
.color-card-back {
  color: black;
  transform: rotateY(180deg);
}

.color-card-text {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
